
.wrap{
    background: #0e0e0e;
    margin-right: auto;
    margin-left: auto;
}

.block{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
    perspective: 500px;
    transition: perspective 5s;
}

p, 
h3{
    color: orange;
    text-align: center;
    font-size: 50px;
}


h3{
    line-height: 100px;
}


.firstparagraph{
    margin-bottom: 20px;
}

/* .text{
    animation-name: test-animation;
    animation-duration: 3s;
    
    
}


@keyframes test-animation{
        from{
            transform: scale3d(1, 1, 1.2) rotateX(45deg);
            transform: translateY(-100px);
            
        }
        to{
            transform: scale3d(1, 1, 1.2) rotateX(45deg);
            transform: translateY(1000px);
        }
}
 */